.DS_Store
.swp
.bak
cscope.*
*.orig
*.patch

hpm_sdk/build
cmake-build*
.idea
.vscode

*.log
*.jou
.settings
.cproject
.project

doctrees
hpm_sdk/doc/output/*

segger_embedded_studio
*.pyc
sec_core_img.c
*.o
